<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>功能二</title>
  <script src="../static/js/jquery-3.6.0.js"></script>
</head>
<body>

<p1 style="font-size: 20px">输入文献标题查找该文献的所有相关信息!</p1>
<p></p>
<form id="form-function1" method="post" align="center" >
  <span style="font-size: 20px">请输入文献名称：</span>
  <label>
    <input type="text" name="xpath" id="xpathStr" style="width: 250px ;height:20px;font-size: 18px">
  </label>
  <input type="button" id="btn1" value="查询" style="font-size: 13px"/>

</form>

<table align="center">

  <tbody id="content"></tbody>

</table>



<script type="text/javascript">
  $("#btn1").click(function() {
    $.ajax({
      url:"/functionTwo",
      data:{"xpathAdd":$("#xpathStr").val()},
      type:"post",
      dataType:"json",
      "success":function(json) {
        console.log(json);
        var html="";
        if(json.statusCode == 200){
          //alert(json.msg)

          for (let i = 0; i < json.data.content.length; i++) {
            html += "<tr>"+
                    "<td style=\"font-size: 15px\">"+json.data.name[i]+":"+"</td>"+
                    "<td style=\"font-size: 15px\">"+json.data.content[i]+"</td>"+
                    "</tr>"
          }

          //alert("成功");
        } else{
          alert(json.msg);
        }
        $("#content").html(html);
      }
    });
  });
</script>
</body>
</html>